<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/equipe.css">
    <title>L'équipe | High Side</title>
</head>


<body>
    
    <!-- Appel header/nav -->
    <%- include('../includes/header.ejs') %>


    <main>

        <div class="conteneur">

            <div class="row"> <!-- Première ligne -->

                <div class="fiche">

                    <h3>Bader Benlekehal</h3>
                    <div class="membre">

                        <div class="photo">
                            <img src="/img/bader_img.png" alt="">
                        </div>

                        <div class="skills">
                            <p>Poser de coude</p>
                            <div>
                                <img src="/img/skill_5.png" alt="">
                            </div>

                            <p>Réflexes</p>
                            <div>
                                <img src="/img/skill_2.png" alt="">
                            </div>

                            <p>Excès de confiance</p>
                            <div>
                                <img src="/img/skill_4.png" alt="">
                            </div>

                            <p>Connaissances mécaniques</p>
                            <div>
                                <img src="/img/skill_1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="presentation">
                        <p>
                            Son credo : «Plus tu penches, moins tu tombes de haut». Un raisonnement grâce auquel il cumule près de 25 000 euros de titane dans le corps, hors honoraires de chirurgien. Bader est spécialisé dans la vitesse de passage en courbe. Il penche jusqu'à poser le coude au sol. Mais comme ça ne se passe pas toujours très bien, il est aussi le recordman de l’équipe en ce qui concerne le nombre de chutes et de machines spectaculairement détruites.
                        </p>
                    </div>

                </div>

                <div class="fiche">

                    <h3>François Poncet</h3>
                    <div class="membre">

                        <div class="photo">
                            <img src="/img/Poncet_img.png" alt="">
                        </div>

                        <div class="skills">
                            <p>Wheeling (quantité)</p>
                            <div>
                                <img src="/img/skill_5.png" alt="">
                            </div>

                            <p>Wheeling (qualité)</p>
                            <div>
                                <img src="/img/skill_1.png" alt="">
                            </div>

                            <p>Esprit critique</p>
                            <div>
                                <img src="/img/skill_5.png" alt="">
                            </div>

                            <p>Autocritique</p>
                            <div>
                                <img src="/img/skill_1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="presentation">
                        <p>
                            Sur une moto, Ponpon est reconnaissable à ses wheelings dangereux, sa barbe qui dépasse de son casque et son envie permanente de tracer la route. Cet esthète (de con) est très difficile à satisfaire en matière de deux-roues. Ses essais sont si critiques qu’il a déjà le suicide de 12 concepteurs sur la conscience. Il est aussi adepte de vieilleries et de handmade… Bref, c’est le hipster marginal de l’équipe, mais il ne faut surtout pas lui dire.
                        </p>
                    </div>

                </div>

            </div>

            <div class="row">  <!-- Deuxième ligne -->

                <div class="fiche">

                    <h3>Adrian Parassol</h3>
                    <div class="membre">

                        <div class="photo">
                            <img src="/img/AdrianParassol.png" alt="">
                        </div>

                        <div class="skills">
                            <p>Rapidité sur piste</p>
                            <div>
                                <img src="/img/skill_5.png" alt="">
                            </div>

                            <p>Rapidité en tout-terrain</p>
                            <div>
                                <img src="/img/skill_5.png" alt="">
                            </div>

                            <p>Rapidité en wheeling</p>
                            <div>
                                <img src="/img/skill_5.png" alt="">
                            </div>

                            <p>Rapidité dans la vie</p>
                            <div>
                                <img src="/img/skill_0.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="presentation">
                        <p>
                            Maladroit, toujours en retard ou en train de rêvasser, Adrian est le stagiaire à vie de High Side. Ce qui veut dire qu’il est humble, gentil, mais rarement efficace au travail. Il était apprécié jusqu’à ce que les membres de High Side découvrent qu’il a un lourd passé en compétition. De fait, il est bien meilleur que les autres, toutes disciplines confondues. Ce qui est une excellente raison d’en faire le souffre-douleur de l’équipe.
                        </p>
                    </div>

                </div>

                <div class="fiche">

                    <h3>Franck Nourry</h3>
                    <div class="membre">

                        <div class="photo">
                            <img src="/img/franckNourry.png" alt="">
                        </div>

                        <div class="skills">
                            <p>Connaissances mécaniques</p>
                            <div>
                                <img src="/img/skill_5.png" alt="">
                            </div>

                            <p>Patience</p>
                            <div>
                                <img src="/img/skill_1.png" alt="">
                            </div>

                            <p>Lexique d'insultes</p>
                            <div>
                                <img src="/img/skill_5.png" alt="">
                            </div>

                            <p>Capacité à toucher ses orteils</p>
                            <div>
                                <img src="/img/skill_2.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="presentation">
                        <p>
                            Ce qui définit le mieux Franck, c’est son sale caractère et sa tendance à insulter tout ce qui bouge. Malgré ces deux défauts, il est l’Être sur Terre qui s’y connaît le mieux en mécanique, en témoignent ses nombreux records du monde. Mais s’il fait partie de l’équipe, c’est aussi et surtout pour ses qualités pédagogiques : il est capable d’apprendre comment régler la stœchiométrie d’un moteur turbocompressé à une classe de maternelle.
                        </p>
                    </div>

                </div>

            </div>
            

        </div>

    </main>


<%- include('../includes/footer.ejs') %> 